//- Include all common mixins
include ../../templates/common.pug

doctype html

html(lang="en")

	head
		//- Generate head
		+head(title="Members · IEEE - IIITD Delhi")

		// Styles
		link(rel="stylesheet" href="/assets/css/members.css")

	body

		+nav()

		main

			section

				.content

					h1 Members

					h2 Representatives

					.gallery-container

						each section in people.representatives
							if section.heading
								h2=section.heading

							.gallery
								each person in section.members
									.card
										img(src="/assets/img/people/"+(person.slug || person.name.split(" ")[0].toLowerCase())+".jpg")
										p.name !{person.name}
										p.role !{person.role}

					h2 Executive Committee

					each year in people.execom

						h3=year.year

						ul

							each person in year.members

								li !{person}

		//- Footer
		+footer()

		script(async defer src="https://sa.mihir.ch/latest.js")
		noscript
			img(src="https://sa.mihir.ch/noscript.gif" alt="")

