mixin footer()
	footer
		.content
			.title
				h1 Contact Us
				h2 Get in touch and lets make something great together.
			.cols-2
				.address
					h3 Where to find us
					p IIIT Delhi, Okhla Industrial Estate, Phase III<br>(Near Govind Puri Metro Station) New Delhi,<br>Delhi 110020
				.find
					h3 Connect with us on
					.networks
						a(href="https://www.facebook.com/ieeeiiitd/" rel="noopener" target="_blank")
							img(
								src="/assets/img/contact/facebook.svg"
								alt=`${Facebook} Logo`
								draggable="false"
							)
							| Facebook
						a(href="https:/twitter.com/ieee_d/" rel="noopener" target="_blank")
							img(
								src="/assets/img/contact/twitter.svg"
								alt=`${Twitter} Logo`
								draggable="false"
							)
							| Twitter
						a(href="https://instagram.com/ieeeiiitdelhi/" rel="noopener" target="_blank")
							img(
								src="/assets/img/contact/instagram.svg"
								alt=`${Instagram} Logo`
								draggable="false"
							)
							| Instagram
						a(href="https://www.linkedin.com/company/ieee-iiitd/" rel="noopener" target="_blank")
							img(
								src="/assets/img/contact/linkedin.svg"
								alt=`${LinkedIn} Logo`
								draggable="false"
							)
							| LinkedIn
